{% extends 'base/navbarAuthenticated.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../static/styles/transactionList.css">
    <title>Transaction List</title>
</head>
<body>
    <h1>Transações</h1>
    <ul>
        {% for transaction in transactions %}
            <li>{{ transaction.user.name }} - {{ transaction.category.title }} - R${{ transaction.amount }} - {{ transaction.date }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'CreateTransaction' %}">Registrar Transação</a>
</body>
</html>
{% endblock %}