
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/menu.css">
    <title>Início</title>
</head>
<body>
    <div class="sidebar">
        <h1>CONTA CERTA</h1>
        <h1>Olá, {{ user.name }}!</h1>
        <p>Visão Geral</p>
        <p>Registrar Movimentações</p>
    </div>
    <div class="main-content">
        <h1>Visão Geral</h1>
        <p>Saldo Atual: R$ {{ user.profile.balance }}</p>
        <p>Receitas: R$ {{ user.profile.income }}</p>
        <p>Despesas: R$ {{ user.profile.expenses }}</p>
        <p>Saldo Atual: R$ {{ user.profile.balance }}</p>
    </div>
    
    <a href="{% url 'signout' %}">Logout</a>
</body>
</html>