
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/menu.css">
    <title>Início</title>
</head>
<body>
    <div class="sidebar">
        <h1>CONTA CERTA</h1>
        <h1>Olá, {{ user.name }}!</h1>
        <p>Visão Geral</p>
        <p>Registrar Movimentações</p>
    </div>
    <div class="main-content">
        <h1>Visão Geral</h1>
        <a href="{% url 'category_list' %}">Categorias</a>
        <a href="{% url 'TransactionList' %}">Transações</a>
        <a href="{% url 'CreateTransaction' %}">Registrar Movimentação</a>
        <a href="{% url 'CategoryTotalSpent' %}">Visão Geral</a>
    </div>
    
    <a href="{% url 'signout' %}">Logout</a>
</body>
</html>