<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/styles/reset.css">
  <link rel="stylesheet" href="../../static/styles/signin.css">
  <title>Login - Conta Certa</title>
</head>
<body>
  <div class="main-login">
    <h1>CONTA CERTA</h1>
    <div class="card-login">
      <div class="calls">
        <h1>Crie sua conta!</h1>
        <p>Comece a controlar o seu dinheiro!</p>
      </div>
      <div class="google-signup">
        <img src="" alt="">
        <p>Crie com o Google</p>
      </div>
      <p>Ou</p>
      <div class="default-signup">
        <form method="post" action="{% url 'signin' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Começar</button>
        </form>
      </div>
    </div>
  </div>

</body>
</html>